@model SoundSee.ViewModels.UserViewModel
@{
    string emailVal = string.Empty;
    string usernameVal = string.Empty;
    string passwordVal = string.Empty;

    if (Model.User.Email != null)
    {
        emailVal = Model.User.Email;
        usernameVal = Model.User.Username;
        passwordVal = Model.User.Password;

    }
}
<script>
    function showPassword() {
        var x = document.getElementById("Password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
<div>
    *
    <label for="Email" class="form-label mt-3">Email address</label>
    <input asp-for="User.Email" type="Email" id="Email" name="Email" class="form-control" aria-describedby="emailHelp" placeholder="johndoe@email.com" value="@emailVal">
    <span asp-validation-for="User.Email" class="text-danger"></span>
    <div class="form-check form-switch mt-3">
        <input class="form-check-input" type="checkbox" id="PublicOrPrivateAcc" name="PublicOrPrivateAcc" id="PublicOrPrivateAcc">
        <label class="form-check-label" for="PublicOrPrivateAcc">Select to make your account <b>Private</b>, otherwise its <b>Public</b></label>
    </div>
</div>

<div>
    *
    <label class="col-form-label mt-2" for="Username">Username</label>
    <input asp-for="User.Username" type="text" id="Username" name="Username" class="form-control" placeholder="John Doe's Super Account" value="@usernameVal">
    <span asp-validation-for="User.Username" class="text-danger"></span>
</div>

<div>
    *
    <label for="Password" class="form-label mt-2">Password</label>
    <input asp-for="User.Password" type="password" id="Password" name="Password" class="form-control" placeholder="Password" autocomplete="off" value="@passwordVal">
    <span asp-validation-for="User.Password" class="text-danger"></span>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" onclick="showPassword()" id="showPasswordSlider">
        <label class="form-check-label" for="flexSwitchCheckDefault">Show Password</label>
    </div>
</div>

<div class="form-check form-switch mt-3">
    <input class="form-check-input" type="checkbox" id="SignUpForNewsletters" name="SignUpForNewsletters" id="SignUpForNewsletters">
    <label class="form-check-label" for="SignUpForNewsletters">Sign up for marketing newsletters, and any great offers we have!</label>
</div>

<div class="mt-2">
    <label for="file" class="form-label mt-2">Profile Photo image</label>
    <input class="form-control" type="file" name="file" />
</div>

@if (Model.User.Password != null)
{
    <div class="mt-2">
        <p>Current profile photo:</p>
        <img src="@Url.Action("DisplayProfilePhoto", "User")" alt="Profile Photo" width="150em" height="150em" />
    </div>
    <br />
} else
{
    <br />
}
