@model SoundSee.ViewModels.PostNUserViewModel
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_SignInLayout.cshtml";
}

<!-- Navbar -->
<div class="mb-2 fixed-top">
    <nav class="navbar navbar-light mt-0" id="topSignedInBar">

    </nav>
</div>
