@model SoundSee.ViewModels.UserViewModel
@{
    ViewData["Title"] = "View Account";
}

<div>
    <nav class="navbar navbar-light" style="background-color: #ffffff65; padding-left: 2em; padding-right: 2em;">

    </nav>
</div>
<div style="background-color:#ffffffbd">
    <p class="mb-0 pb-0">sasa</p>
</div>
