@model SoundSee.ViewModels.UserViewModel
@{
    ViewData["Title"] = "About";
}

<h2 id="title">@ViewBag.Title?</h2>
<h4>@ViewBag.Message</h4>

<p>A current work in progress (WIP) webapp that will be social media based. Created by me, Stefan Kobetich.</p>
</main>