@{
    ViewData["Title"] = "Home Page";
}

<!-- Created by Stefan Kobetich
    7/31/2024
    Index.html page. Landing page of the site
    -->
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <div class="mt-2">
            <h1 id="title">SoundSee</h1>
            <p class="lead">Start communicating in a new way</p>
            <div class="row">
                <section class="col-md-2">
                    <p><a href="@Url.Action("AddUser", "User")" class="btn btn-primary btn-md">Get Started &raquo;</a></p>
                </section>
                <section class="col-md-2">
                    <p><a href="@Url.Action("SendToSignIn", "User")" class="btn btn-primary btn-md">Sign in</a></p>
                </section>
                <section class="col-md-4">
                    <p><a href="" class="btn btn-primary btn-md">Continue Without an Account &raquo;</a></p>
                </section>
            </div>
        </div>
    </section>


</main>