@{
    ViewData["Title"] = "Known Bugs";
}
<div class="mt-2">
    <h1>@ViewData["Title"]</h1>
    <br />
    <p>Allthough bugs can be extreamly annoying, please be fair with us as there is limited time, and many things to work on. Anything that is included in this list <u>will one day be fixed</u> as long as support lasts. With this in mind, please be paitent, and dont be afraid to reach out if you find any bugs!</p>
    <h6>Known Bugs:</h6>
        <ul>
            <li>Data not retaining when going to last visited page</li>
            <li>Pressing back on your browser may cause an error before you see the last page</li>
        </ul>
    <br />
    <h6>Features missing:</h6>
        <ul>
            <li>No live search</li>
            <li>No video or audio support</li>
        </ul>
</div>