@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="mt-2">@ViewData["Title"]</h1>

<p>We at soundsee value your privacy. We do not use or sell your personal data for any other usage unrealted to this app.</p>
<p class="mt-2">If you have any questions, pleas feel free to contact us at: emailplaceholder@soundsee.com</p>
<br />
<div class="text-center">
    <img class="mt-4 img-fluid rounded" height="300em" width="300em" src="~/Media/SoundSeeLogo.svg" alt="SoundSee logo" />
</div>
