@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We at soundsee value your privacy. We do not use or sell your personal data for any other usage unrealted to this app.</p>