html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#topSignedInBar {
    background-color: #ffffffc0;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 6px;
    padding-top: 6px;
}
.cardType1 {
    width: 18rem;
    right: 3px;
}
.cardType2 {
    width: 25rem;
    right: 3px;
}

/* Type 3 is for the image back and fourth buttons*/
.cardType3 { 
    width: 1em;
    padding: 1em;
}

.commentBtn {
    border: 1px solid #b6b6b6;
    border-radius: 0px 0px 8px 8px;
}
.postTitle {
    font-size: x-large;
    font-weight:bold;
    width: 90%;
}