@model SoundSee.ViewModels.UserViewModel
@{
    ViewData["Title"] = "All Users";
}
<h2>AllUsers</h2>

@if (Model.Accounts.Count == 0)
{
    <p>There are no Users or accounts to show</p>
}
else
{
    foreach (var account in Model.Accounts)
    {
        <li>@account.Username</li>

    }
}
